@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
  background-color: var(--background);

}

/* Big Noodle Titling Font */

@font-face {
  font-family: "BigNoodleTitling";
  src: url("/font/big_noodle_titling.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.big-noddle {
  font-family: "BigNoodleTitling", sans-serif;
}

/* custom container  */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}


@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}


@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}


.logoMarquee {
  overflow: hidden;
  width: 100%;
}

.logoTrack {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: marqueeMove 25s linear infinite;
}

.logoMarquee:hover .logoTrack {
  animation-play-state: paused;
}

.slide_logo img {
  height: 50px;
  width: auto;
  object-fit: contain;
}

@keyframes marqueeMove {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.banner_slider {
  margin: auto;
}